<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/414f86fe-ae47-4fd6-b8c8-9678217c55a5/resourceGroups/CryptoMeterAPI20250104223303ResourceGroup/providers/Microsoft.Web/sites/CryptoMeterAPI20250104223303</ResourceId>
    <ResourceGroup>CryptoMeterAPI20250104223303ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/414f86fe-ae47-4fd6-b8c8-9678217c55a5/resourceGroups/CryptoMeterAPI20250104223303ResourceGroup/providers/Microsoft.ApiManagement/service/CryptoMeterAPI/apis/CryptoMeterAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cryptometerapi20250104223303.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>db4dd1b6-0618-4382-a058-f474e15c80cb</ProjectGuid>
    <MSDeployServiceURL>cryptometerapi20250104223303.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CryptoMeterAPI20250104223303</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>